.cardImage {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.cardImage img {
	width: 30%;
	border-radius: 1rem;
}
.cardGridImage {
	display: flex;
	justify-content: center;
	align-items: center;
	// height: 30%;
}
.cardGridImage img {
	width: 70%;
	border-radius: 1rem;
}
